.buttoncolumn {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;


}
@media screen and (max-width:500px) {
    .buttoncolumn {
        padding-left: 4px;
        padding-right: 4px;
    } /* Increase the font size */
}


.buttonrow {
    padding-bottm: 5px;
}
/* Clear floats after the columns */
.buttonrow:after {
    content: "";
    display: table;
    clear: both;
}


.btn-big {
    cursor:pointer;
    height: 50px;
    width: 180px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 25px;
    margin-right: 25px;
    font-size : 1.4em;
     color: rebeccapurple;

}

.btn-medium {
   cursor:pointer;
    height: 50px;
    width: 90px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-size : 1.4em;
     color: rebeccapurple;
}


.btn-small {
    cursor:pointer;

    padding-left: 5px;
    padding-right: 5px;
    margin-left: 2px;
    margin-right: 2px;
}

.red {

  background-color: #ff733f;
}

.green {

  background-color: rgba(55, 196, 92, 0.69);
}


.gray {

  background-color: gray;
    width: 90px;
}

.yellow {
  background-color: yellow ;
}

.shorturl {
    font-size: 0.7em;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    font-size: 0.6em;
    visibility: hidden;
    width: 240px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}


.tooltip .smalltooltiptext {
    font-size: 0.6em;
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    font-size: 0.8em;
    visibility: visible;
}


.tooltip:hover .smalltooltiptext {
    font-size: 0.8em;
    visibility: visible;
}