

body {

  background-color:  #ccffbb;
  font-size: 100%;
}

.articleLink {
  font-size: 1.3em;
}

.sourceLink {
  font-size: 1.2em;
}


.articleSmall {
  font-size: 1.1em;
}

.sourceSmall {
  font-size: 1em;
}

form  { display: table;      }
p     { display: table-row;  }
label {
  display: table-cell;
  font-size: 1.2em;
}
input { display: table-cell; }