
.filterInput {
  background-image: url('../images/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}



table {
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

caption {
    padding-bottom: 10px;
    font-size:larger;
}


tr:nth-child(even) {background-color:  #FAFAD2}
tr:nth-child(odd)  {background-color:  #FFFFCC}


th {
  background-color:  #9999CC;
}

th.date, td.date {
  width:80px;
}


.columnscore {
 width:100px;
}



.smallcolumn {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-size: 1.3em;

}


/* Clear floats after the columns */
.smallrow:after {
    content: "";
    display: table;
    clear: both;
}

.gridbox {
    box-sizing: border-box;
    border: 3px solid black;
    text-align: left;
    width: 100%;
}

.gridentry {
    border: 2px solid black;
}

.col-source  {
    width: 15%;
    font-weight: bolder;
    font-size: larger;
}
.col-title  {
    width: 70%;
    font-size: larger;
    font-family: Impact;
}


.rcol-date {
    width: 8%;
}

.rcol-show_all {
    width: 5%;
}

.rcol-find_similar  {
    width: 5%;
}
.rcol-compare  {
    width: 30%;
}

.mainrow {
    background-color: #FFFFCC;
    font-size: larger;
    border: 1px solid black;
}

.mainrow::after {
    content: "";
    clear: both;
    display: table;

}

.smallrow {
    background-color:  #FAFAD2;
    font-size: smaller;
}

.smallrow::after {
    content: "";
    clear: both;
    display: table;
    font-size: smaller;
    font-family: Consolas;
}

.compare_row {
    background-color: #FAF4DD;
    font-size: smaller;
}

.compare_row::after {
    content: "";
    clear: both;
    display: table;
}


[class*="col-"] {
    float: left;
}

[class*="rcol-"] {
    float: right;
}

[class*="tcol-"] {
    float: right;
}