
.filterInput {
  background-image: url('../images/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}



table {
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}


tr:nth-child(even) {background-color:  #FAFAD2}
tr:nth-child(odd)  {background-color:  #FFFFCC}


th {
  background-color:  #9999CC;
}

th.date, td.date {
  width:80px;
}


.columnscore {
 width:100px;
}



.smallcolumn {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-size: 1.3em;

}


/* Clear floats after the columns */
.smallrow:after {
    content: "";
    display: table;
    clear: both;
}