.column {

}



.left {
  width: 47%;
  float: left;
}

.middle {
  width: 6%;
}

.right {
  width: 47%;
  float: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.buttoncolumn {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    text-align: center;
    font-size: 1.3em;

}


/* Clear floats after the columns */
.buttonrow:after {
    content: "";
    display: table;
    clear: both;
}

.article_text {


    background: #FFE4B5;

}

.btn-big {
    cursor:pointer;
    height: 50px;
    width: 150px;
    padding-left: 100px;
    padding-right: 100px;

}

.red {
  color: black;
  background-color: red;
}

.green {
  color: black;
    background-color: green;
}

.yellow {
    color: black;
  background-color: yellow ;
}

span.organization {
    font-weight: bold;
}

span.person {
    font-weight: bold;
}