<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
{% include 'header_files.html' %}

  <title>Browse articles</title>
 </head>
<body onload="select_header('topnav_browse');">
{% include 'header.html' %}



    <!--suppress HtmlUnknownTarget -->
<FORM id="mainForm" ACTION="/retrieve_similar_url" METHOD="POST">

    <INPUT type="hidden" id="search_url" name="search_url" maxlength="200" size="70" value="">
    <INPUT type="hidden" id="article_id" name="article_id" maxlength="200" size="70" value="">
    </FORM>

<div class="buttonrow surrond_form tooltip" >
    <!--suppress HtmlUnknownTarget -->
    <form action="/filterbrowse" method="POST">
       <input  class="textarea" id="searchCriteria" name = "filterbrowse" type="text" class="buttoncolumn" placeholder="Search in base"
              value="{{filter_browse}}"
              title="Type in a search criteria" maxWidth="100" >   <input class="buttoncolumn" type="submit" value="Search" />

    </form>
    <span class="tooltiptext">
        <I>WARNING: Simple literal search over the article's titles. A more advanced search <!--suppress HtmlUnknownTarget -->
            <A HREF="/search">is available here</A> </I>
   </span>
</div>
<BR>

<BR>
{% if articles: %}
    <table border="1">
    <CAPTION>Latest articles</CAPTION>
    <tr>
        <th class="hide-1000">Article Id</th>
        <th>Title</th>
        <th><span class="hide-1000">Similar</span></th>



      </tr>

        {% for _ in articles: %}

            <tr>
                <td class="hide-1000"><!--suppress HtmlUnknownTarget, HtmlUnknownTarget -->
                    <A HREF="/statistics/{{_.article_id}}" target="_blank">{{_.article_id}}</A></td>
                <td><B>{{_.source}}</B> <I>{{_.date_p}}</I>:<BR><!--suppress HtmlUnknownTarget -->
                    <A HREF="{{_.url}}}">{{_.title}}</A></td>
                <td class="icon">
                           <A HREF="javascript:find_similar('{{_.article_id}}')">
                        <!--suppress HtmlUnknownTarget, HtmlUnknownTarget -->
                               <IMG SRC="{{ url_for('static', filename='images/find_similar.png') }}" ALT="Find similar" TITLE="Find similar">
                    </A>
                </td>

            </tr>


        {% endfor %}
    </table>
{% endif %}
{% if articles: %}

    <HR>
    <BR>
    <div class="buttonrow">
        {% if page_id and page_id > 0: %}
            <!--suppress HtmlUnknownTarget, HtmlUnknownTarget -->
        <form class="buttoncolumn" action="/browse/{{page_id-1}}">
                <input class="main" type="submit" value="<<< Back" />
            </form>
        {% endif %}
        <div class="buttoncolumn">
            <B>{{page_id+1 | default(0) }}</B>
        </div>

        {% if has_next : %}
            <form class="buttoncolumn" action="/browse/{{page_id+1}}">
                <input class="main" type="submit" value="Forward >>> " />
            </form>
        {% endif %}
    </div>


{% endif %}
{% include 'footer.html' %}

</body>
</html>