<!DOCTYPE html>
<html lang="en">
<head>
{% include 'header_files.html' %}

    <meta charset="UTF-8">
    <title>Similar Articles</title>

</head>
<body onload="select_header('topnav_duplicated')">
{% include 'header.html' %}
<div class="buttonrow" >
<form action="/filterduplicates" method="POST" class="tooltip">
   <input id="searchCriteria" name = "filterCriteria" type="text" class="buttoncolumn" placeholder="Filter criteria"
          value="{{filter_criteria}}"
          title="Type in a Filter criteria" size="50" maxWidth="100" >   <input class="buttoncolumn" type="submit" value="Filter" />
    <span class="tooltiptext">
        <P><I>Example: P_SCORE > 0.6 OR U_SCORE > 0.5 </I></P>
        <P> U_SCORE is the similarity score assigned by the aministrator, P_SCORE is the similarity score assigned by the algorithm</P>
    </span>
</form>
</div>


<table>

  <tr>
    <th><span>Article 1</span></th>


    <th>Article 2</th>

    <th>Prob.</th>
    <th>Regr.</th>
     <th>Admin</th>

    <th class="icon">Compare</th>


  </tr>

    {% for _ in dup_articles: %}
        {% if _.SOURCE_1 != _.SOURCE_2: %}
        <tr>


            <td><B>{{_.SOURCE_1}}</B> <I>{{_.DATE_1}}</I>:<BR><A HREF="{{_.URL_1}}">{{_.TITLE_1}}</A></td>

            <td><B>{{_.SOURCE_2}} </B><I>{{_.DATE_2}}</I>:<BR><A HREF="{{_.URL_2}}">{{_.TITLE_2}}</A></td>


            <td>
                <div class="tooltip">{{'%0.3f'| format(_.P_SCORE|float)}}<span class="smalltooltiptext">Probability that <BR> relate to the same story.</span>
                </div>
            </td>
            <td>
                <div class="tooltip">{{'%0.3f'| format(_.R_SCORE|float)}}<span class="smalltooltiptext">Similarity score <BR>given by regression.</span>
                </div>

            </td>
            <td>
              <span id="samestory_{{_.ID_1}}_{{_.ID_2}}" >
                {% if _.U_SCORE >= 0: %}
                    {{_.U_SCORE}}
                {% else %}
                  {% if session['signed_in'] %}
                     <div class="buttonrow">
                        <button class="buttoncolumn btn-small green"  onclick="send_same_story('samestory_xhr','{{_.ID_1}}', '{{_.ID_2}}', 'samestory_{{_.ID_1}}_{{_.ID_2}}' );">Y
                        </button>
                        <button class="buttoncolumn btn-small yellow" onclick="send_same_story('related_xhr', '{{_.ID_1}}', '{{_.ID_2}}', 'samestory_{{_.ID_1}}_{{_.ID_2}}');">A
                        </button>
                        <button class="buttoncolumn btn-small red"  onclick="send_same_story('unrelated_xhr', '{{_.ID_1}}', '{{_.ID_2}}', 'samestory_{{_.ID_1}}_{{_.ID_2}}');">N

                        </button>
                     </div>
                  {% endif %}
                {% endif %}
              </span>
            </td>

            <td class="icon">
                {% if _.ID_1 != _.ID_2: %}
                    <A HREF="/compare/{{_.ID_1}}/{{_.ID_2}}" target="_blank">
                        <IMG SRC="{{ url_for('static', filename='images/compare_analyze.jpg') }}" ALT="Compare side-by-side" TITLE="Compare side-by-side">
                    </A>
                {% endif %}
            </td>

        </tr>
        {% endif %}

    {% endfor %}
</table>
<BR>
<div class="buttonrow">
        {% if page_id and page_id > 1: %}
            <form class="buttoncolumn" action="/duplicates/{{page_id-1}}">
                <input class="main" type="submit" value="<<< Back" />
            </form>
            {% for p in range(begin_page, page_id) %}
                 <div class="buttoncolumn">
                    <A HREF="/duplicates/{{p}}">{{p}}</A>
                 </div>
            {% endfor %}

        {% endif %}
        {% if page_id %}
            <div class="buttoncolumn">
              {{page_id| default(0) }}
            </div>
        {% endif %}
        {% if has_next and page_id: %}
            {% for p in range(page_id+1, page_id+how_many_pages+1) %}
             <div class="buttoncolumn">
                <A HREF="/duplicates/{{p}}">{{p}}</A>
             </div>
            {% endfor %}
            <form class="buttoncolumn" action="/duplicates/{{page_id+1}}">
                <input class="main" type="submit" value="Forward >>> " />
            </form>
        {% endif %}


</div>

{% include 'footer.html' %}
</body>


</html>