<!DOCTYPE html>
<html lang="en">
<head>
{% include 'header_files.html' %}
    <meta charset="UTF-8">
    <title>Guidelines on categorization</title>

</head>
<body>
{% include 'header.html' %}
<H1>Guidelines on picking similar articles</H1>
<H2> Same story (YES)</H2>
<P>You should choose this when these articles <U>are obviously treating the same story</U>, possibly with a different slant.</P>
<P>You should be able to answer yes to both of these questions:</P>
<UL>
    <LI>Could these two articles have <U>the same title</U>?</LI>
    <LI>Is the main point of each article covered also in the other article?</LI>

</UL>
<P>Here are some examples of articles treating the same story.</P>
<table>

  <tr>
    <th class="date">Date</th>
    <th><span>Article1</span></th>
    <th>Article2</th>
    <th class="icon">Analyze</th>


  </tr>

    {% for _ in yes_examples: %}
        {% if _.SOURCE_1 != _.SOURCE_2: %}
        <tr>

            <td class="date">{{_.DATE_1}}</td>
            <td><B>{{_.SOURCE_1}}: </B><!--suppress HtmlUnknownTarget -->
                <A HREF="{{_.URL_1}}">{{_.TITLE_1}}</A></td>
            <td><B>{{_.SOURCE_2}}: </B><!--suppress HtmlUnknownTarget -->
                <A HREF="{{_.URL_2}}">{{_.TITLE_2}}</A></td>

            <td class="icon">
                {% if _.ID_1 != _.ID_2 %}
                    <!--suppress HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget -->
                <A HREF="/compare/{{_.ID_1}}/{{_.ID_2}}" target="_blank">
                        <!--suppress HtmlUnknownTarget, HtmlUnknownTarget -->
                    <IMG SRC="{{ url_for('static', filename='images/compare_analyze.jpg') }}" ALT="Compare and Analyze">
                    </A>
                {% endif %}
            </td>

        </tr>
        {% endif %}

    {% endfor %}
</table>
<H2> Strongly related stories (ALMOST)</H2>
<P>You should choose this when the two articles are <U>strictly speaking not treating the same story, but are otherwise strongly related</U>.</P>
<P>You should be able to answer yes to both of these questions, while answering no to the previous questions:</P>
<UL>
    <LI><U>Could the content of one of two articles be added seamlessly to the other article</U>?</LI>
    <LI>Can you think of at least two common tags for these two articles?</LI>

</UL>
<P>Here are some examples of articles treating strongly related stories.</P>

<table>

  <tr>
    <th class="date">Date</th>
    <th><span>Article1</span></th>
    <th>Article2</th>
    <th class="icon">Analyze</th>


  </tr>

    {% for _ in almost_examples: %}
        {% if _.SOURCE_1 != _.SOURCE_2: %}
        <tr>

            <td class="date">{{_.DATE_1}}</td>
            <td><B>{{_.SOURCE_1}}: </B><!--suppress HtmlUnknownTarget -->
                <A HREF="{{_.URL_1}}">{{_.TITLE_1}}</A></td>
            <td><B>{<!--suppress HtmlUnknownTarget -->
                {_.SOURCE_2}}: </B><A HREF="{{_.URL_2}}">{{_.TITLE_2}}</A></td>

            <td class="icon">
                {% if _.ID_1 != _.ID_2 %}
                    <!--suppress HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget -->
                <A HREF="/compare/{{_.ID_1}}/{{_.ID_2}}" target="_blank">
                        <!--suppress HtmlUnknownTarget, HtmlUnknownTarget -->
                        <IMG SRC="{{ url_for('static', filename='images/compare_analyze.jpg') }}" ALT="Compare and Analyze">
                    </A>
                {% endif %}
            </td>

        </tr>
        {% endif %}

    {% endfor %}
</table>
<H2> Unrelated stories (NO)</H2>
<P>In every other case you should choose NO. </P>
{% include 'footer.html' %}
</body>


</html>