
<div id="topnav" class="topnav">
  <!--suppress HtmlUnknownTarget -->
    <a id="topnav_groups" href="/show_groups">Groups</a>

  <!--suppress HtmlUnknownTarget -->
    <a id="topnav_duplicated" href="/duplicates">Similar</a>
  <!--suppress HtmlUnknownTarget -->
    <a id="topnav_search_url" href="/search_url">Look up</a>
  <!--suppress HtmlUnknownTarget -->
    <a id="topnav_fulltext" href="/similar">By Text</a>
   <!--suppress HtmlUnknownTarget -->
    <a id="topnav_browse" href="/browse">Browse</a>
    <!--suppress HtmlUnknownTarget -->


    {% if session['signed_in']: %}
  <!--suppress HtmlUnknownTarget -->
    <a id="topnav_compare" href="/randomrelated">Compare</a>
  <!--suppress HtmlUnknownTarget -->
    <a id="topnav_statistics" href="/statistics_gen">Analyze</a>
  <!--suppress HtmlUnknownTarget -->
    <a id="topnav_add_new_url" href="/add_new_url_start">Add url</a>
    <a id="topnav_add_urls" href="/add_urls_start">Add urls</a>
      <a id="topnav_report" href="/show_report">Report</a>

    {% endif %}
    <a class="hide-1000" id="topnav_about" href="https://github.com/diegoami/newscollection/blob/master/README.md" target="_blank">About</a>

 </div>
<div>
    <span class="buttoncolumn logotext">Retrieving of new articles is suspended since June 2022</span>
</div>
    <BR>
{% if messages: %}
     <ul class="errors">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
