<div id="topnav" class="topnav">
  <a id="topnav_home" href="/">Home</a>
  <a id="topnav_duplicated" href="/duplicates/0">Similar articles</a>
  <a id="topnav_compare" href="/randomrelated">Compare articles</a>
  <a id="topnav_search_url" href="/search_url">Search by URL</a>
  <a id="topnav_search" href="/search">Search by text</a>
  <a id="topnav_statistics" href="/statistics_gen">Analyze</a>
 </div>

<BR>
{% if messages: %}
     <ul class="errors">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
