
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="6VznV5qWx1_7cpyVRrfOJ44AK4wqVNujrCKK6uFyjbo" />
<meta property='og:title' content='Tech controversy'/>
<meta property='og:image' content="{{ url_for('static', filename='images/logo.png') }}"/>
<meta property='og:description' content='Aggregating technical articles related to the same story. '/>
<meta property='og:url' content='http://www.techcontroversy.com' />

 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/buttons.css') }}?v=103"  >
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/topnav.css') }}?v=114"  >
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}?v=149"  >
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tables.css') }}?v=137"  >
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/two_columns.css') }}?v=110"  >
 <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" />
 <script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js') }}?v=125"></script>
