
<meta name="viewport" content="width=device-width, initial-scale=1.0">

 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/buttons.css') }}?v=102"  >
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/topnav.css') }}?v=114"  >
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}?v=140"  >
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tables.css') }}?v=135"  >
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/two_columns.css') }}?v=110"  >
 <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" />
 <script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js') }}?v=123"></script>
