 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/topnav.css') }}?v=101"  >
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}?v=106"  >
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tables.css') }}?v=102"  >
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/two_columns.css') }}?v=107"  >
 <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" />
 <script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js') }}?v=107"></script>
