<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/topnav.css') }}?v=6"  >
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}?v=29"  >
 <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" />
    <meta charset="UTF-8">
    <title>Tech Controversy</title>

</head>
<body onload="javascript:select_header('topnav_home')">
{% include 'header.html' %}
<H2>Welcome to TechControversy.com !</H2>
<div class="home">
<P> This site aggregates articles from technology news portals and tries to find out <A HREF="/duplicates/0">those that are reporting on the same story</A>, possibly having a different slant.</P>
<P>You can also <A HREF="/randomrelated">see similar stories side to side</A> to compare what different news outlets are saying about the same story. And help us validate results in the process.</P>
<P>You can also <A HREF="/search_url">enter directly the url of an article in the database</A> and find out the most related stories in the database. Or just go to a random article.</P>
<P>You can also <A HREF="/search">paste here the text of a technical article from another source</A> and find the related articles in the database.</P>
    <P>NLP </A> for single articles can be retrieved <A HREF="/statistics_gen">here</A>. </P>

<P>More information can be found <A HREF="https://github.com/diegoami/newscollection">in the Github repository</A>.</P>
</div>
</body>
</html>