<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/topnav.css') }}?v=6"  >
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}?v=29"  >
    <meta charset="UTF-8">
    <title>Duplicate Articles</title>

</head>
<body>
<div class="topnav">
  <a href="/" class="active">Home</a>
  <a href="/duplicates/0">Show all similar articles</a>
  <a href="/randomrelated">Help validate results</a>
   <a href="/search_url">Enter URL</a>
  <a href="/search">Enter article text</a>

    <a href="https://github.com/diegoami/newscollection" target="_blank">Github repository</a>
</div>
<H2>Welcome to Tech News Controversies!</H2>
<div class="home">
<P> This page aggregates articles from technology news portals and tries to find out <A HREF="/duplicates/0">those that are reporting on the same story</A>.</P>
<P>You can also <A HREF="/randomrelated">see similar storie side to side</A> to compare what different news outlet are saying about the same story. And help us validate results in the process.</P>
<P>You can also <A HREF="/search_url">enter directly the url of an article in the database</A> and find out the most related stories in the database. Or just go to a random article.</P>
<P>You can also <A HREF="/search">paste the text of a technical article from another source</A> and find the related articles in the database.</P>
<P>More information can be found <A HREF="https://github.com/diegoami/newscollection">in the Github repository</A>.</P>
</div>
</body>
</html>