<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/topnav.css') }}?v=6"  >
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}?v=6"  >
    <meta charset="UTF-8">
    <title>Duplicate Articles</title>

</head>
<body>
<div class="topnav">
  <a href="/search">Enter article text</a>
  <a href="/search_url">Enter URL</a>
  <a href="/duplicates/0">Show all similar articles</a>
  <a href="/randomrelated">Help identify similar articles</a>
  <a href="https://github.com/diegoami/newscollection">Github repository</a>
</div>

</body>
</html>