<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <script src="main.js?v=11"></script>

  <title>Controversial tech news</title>
  <link href="css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
<form id="controversial" action="/controversial" METHOD="POST">
From:<input type="text" id="start" name="start" value="2017-10-01"><I>Starts from 2017-01-01</I><br/>
To:<input type="text" id="end" name="end" value="2017-10-14"><I>Until 2017-10-14</I><br/><br/>
  <input type="submit" value="submit">
</form>
<h2>Controversial from TFIDF & BOW</h2>

 {% for _ in controversial: %}

    <UL>
        <LI> {{_.DATE}} : <A HREF="{{_.URL}}">{{_.TITLE}}</A><BR>
            <OL>
     {% for similar in _.similar: %}
                 <LI> {{similar.DATE}} : <A HREF="{{similar.URL}}">{{similar.TITLE}}</A> ( {{similar.SCORE}} ) <BR>
     {% endfor  %}
            </OL>
    </UL>
  {% endfor %}

</body>
</html>