<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
{% include 'header_files.html' %}

  <title>Search by URL</title>
 </head>
<body onload="javascript:select_header('topnav_search_url')">
{% include 'header.html' %}
<div>
<FORM id="mainForm" ACTION="/retrieve_similar_url" METHOD="POST">
    <P>
<label for="article_id">Article Id: </label><INPUT id="article_id" name="article_id" maxlength="64" size="10" value="{{article_id | default('')}}">
</INPUT>
</P>
<P>
<label for="tdidf_input">Url in database: </label><INPUT id="tdidf_input" name="tdidf_input" maxlength="256" size="80" value="{{search_url | default('')}}">
</INPUT>
</P>
<P>
<label for="n_articles">N articles: </label><input type="text" id="n_articles" name="n_articles" value="{{n_articles | default(25) }}"><br/></P>

<p>
<P>
<label for="d_days">Date range in days</label><input type="text" id="d_days" name="d_days" value="{{d_days | default(30) }}"><br/></P>

<p>
<input class="main" type="submit" value="Submit"  />

<input class="main" type="submit" value="Random" onclick="random_url();"  />
</p>
</FORM>
</div>

{% if articles: %}
<h2>TFIDF+Doc2Vec </h2>

<table border="1">

<tr>
    <th>Article Id</th>
    <th><span>Title</span></th>


    <th class="date"><span>Date</span></th>
    <th>Score</th>

    <th class="icon">Similar</th>
    <th class="icon">Compare</th>
    <th class="icon">Statistics</th>
  </tr>

    {% for _ in articles: %}

        <tr>
            <td>{{_.article_id}}</td>
            <td><B>{{_.source}}: </B><A HREF="{{_.url}}">{{_.title}}</A></td>
            <td class="date">{{_.date_p}}</td>
            <td>{{_.similarity}}</td>

            <td class="icon">
                <A HREF="javascript:find_similar('{{_.url}}')" target="_blank">
                    <IMG SRC="{{ url_for('static', filename='images/find_similar.png') }}" ALT="Find similar">
                </A>
            </td>
             <td class="icon">
                {% if _article_id != _.id: %}
                    <A HREF="/compare/{{article_id}}/{{_.article_id}}" target="_blank">
                        <IMG SRC="{{ url_for('static', filename='images/compare_analyze.jpg') }}" ALT="Compare">
                    </A>
                {% endif %}
            </td>
            <td class="icon">
                <A HREF="/statistics/{{article_id}}" target="_blank">
                    <IMG SRC="{{ url_for('static', filename='images/statistics.png') }}" ALT="Statistics">
                </A>

            </td>
        </tr>


    {% endfor %}
</table>
{% endif %}

{% include 'footer.html' %}

</body>
</html>