<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header_files.html' %}
  <meta charset="UTF-8">
  <title>Search by Text</title>

</head>
<body onload="javascript:select_header('topnav_fulltext')">
{% include 'header.html' %}
<P>Enter text of a technical article here </P>
<!--suppress HtmlUnknownTarget -->
<FORM id="textForm" ACTION="/retrieve_similar" METHOD="POST">
    <div class="surrond_form">
    <p>
    <label class="textarea_label" for="search_text" ></label>

    <textarea class="textarea_big" id="search_text" name="search_text" rows="20">{{search_text | default('')}}</textarea>
    </p>



            <p><label for="n_articles"># per page:</label><input type="text" id="n_articles_txt" name="n_articles" value="{{n_articles | default(25) }}"></p>

        <p><label for="start">From:</label><input type="text" id="start" name="start" value="{{start_s | default('2017-01-1') }}"></p>
        <p><label for="end">To:</label><input type="text" id="end" name="end" value="{{end_s | default('2017-12-31')}}"><br/><br/></p>

         <P><input class="main"  type="submit" value="submit"  /></P>
        <input id="page_id" name="page_id" type="hidden" value="{{page_id | default(0)}}"  />

    </div>
 </FORM>



<BR>
{% if articles: %}

    <table border="1">
    <CAPTION>Similar articles</CAPTION>

    <tr>
        <th class="hide-1000">Article Id</th>
        <th><span>Title</span></th>
        <th>Score</th>

        <th class="icon"><span class="hide-1000">Similar</span></th>


      </tr>

        {% for _ in articles: %}

            <tr>

                <td class="hide-1000"> <!--suppress HtmlUnknownTarget, HtmlUnknownTarget -->
                    <A HREF="/statistics/{{_.article_id}}" target="_blank">{{_.article_id}}</A></td>
                <td><STRONG>{{_.source}} </STRONG><I>{{_.date_p}}</I>: <BR><!--suppress HtmlUnknownTarget -->
                    <A HREF="{{_.url}}">{{_.title}}</A></td>
                {% if session['signed_in'] %}
                    <td>{{'%0.3f'| format(_.similarity[0]|float)}} , {{'%0.3f'| format(_.similarity[1]|float)}}  </td>
                {% else %}
                    <td>{{'%0.3f'| format(_.score_sums|float)}}</td>
                {% endif %}


                 <td class="icon">
                    <A HREF="/find_similar/{{_.article_id}}/50" target="_blank">

                        <!--suppress HtmlUnknownTarget, HtmlUnknownTarget -->
                        <IMG SRC="{{ url_for('static', filename='images/find_similar.png') }}" ALT="Find similar" TITLE="Find similar">
                    </A>
                </td>




            </tr>


        {% endfor %}
    </table>
{% endif %}
{% if articles: %}
    <div class="buttonrow">
            {% if page_id and page_id > 0: %}
                    <input class="main" type="submit" value="<<< Back" onclick="move_to_page('{{ page_id - 1 }}','textForm')"/>

            {% endif %}

            <div class="buttoncolumn">
                <B>{{page_id+1 | default(0) }}</B>
            </div>
            {% if n_articles == articles|length : %}

                    <input class="main" type="submit" value="Forward >>> " onclick="move_to_page('{{ page_id + 1 }}','textForm')" />

            {% endif %}

        <BR>
    </div>
{% endif %}
{% include 'footer.html' %}
</body>
</html>