<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header_files.html' %}
  <meta charset="UTF-8">
  <title>Search by Text</title>

</head>
<body onload="javascript:select_header('topnav_search')">
{% include 'header.html' %}
<P>Enter text of a technical article here </P>
<FORM id="mainForm" class="tooltip" ACTION="/retrieve_similar" METHOD="POST">

    <p>
    <label class="textarea_label" for="search_text" ></label>

    <textarea class="textarea_big" id="search_text" name="search_text" rows="20">{{search_text | default('') }}
    </textarea>
    </p>

    <div class="surrond_form tooltip">

            <p><label for="n_articles"># per page:</label><input type="text" id="n_articles" name="n_articles" value="{{n_articles | default(25) }}"></p>

        <p><label for="start">From:</label><input type="text" id="start" name="start" value="{{start_s | default('2017-01-1') }}"></p>
        <p><label for="end">To:</label><input type="text" id="end" name="end" value="{{end_s | default('2017-12-31')}}"><br/><br/></p>

        <p>
        <input name="search_url" id="search_url" type="hidden" />
        <input id="page_id" name="page_id" type="hidden" value="0"  />

        <INPUT type="hidden" id="article_id" name="article_id" >

        <input class="main"  type="submit" value="submit"  />
        </p>


    </div>
    <span class="tooltiptext">
        <P> Enter text from a tech article here</P>
        <P><I>Can be used also to search in the article database, but results quality may vary</I></P>
    </span>
 </FORM>
{% if articles: %}

    <table border="1">
    <CAPTION>Similar articles</CAPTION>

    <tr>
        <th class="hide-1000">Article Id</th>
        <th><span>Title</span></th>
        <th>Score</th>

        <th class="icon"><span class="hide-1000">Similar</span></th>


      </tr>

        {% for _ in articles: %}

            <tr>

                <td class="hide-1000"> <A HREF="/statistics/{{_.article_id}}" target="_blank">{{_.article_id}}</A></td>
                <td><STRONG>{{_.source}} </STRONG><I>{{_.date_p}}</I>: <BR><A HREF="{{_.url}}">{{_.title}}</A></td>
                <td>{{'%0.3f'| format(_.similarity[0]|float)}} , {{'%0.3f'| format(_.similarity[1]|float)}}  </td>

                 <td class="icon">
                    <A HREF="javascript:find_similar('{{_.article_id}}')">

                        <IMG SRC="{{ url_for('static', filename='images/find_similar.png') }}" ALT="Find similar" TITLE="Find similar">
                    </A>
                </td>




            </tr>


        {% endfor %}
    </table>
{% endif %}
{% if articles: %}
    <div class="buttonrow">
            {% if page_id and page_id > 0: %}
                    <input class="main" type="submit" value="<<< Back" onclick="move_to_page('{{ page_id - 1 }}')"/>

            {% endif %}

            <div class="buttoncolumn">
                <B>{{page_id+1 | default(0) }}</B>
            </div>
            {% if n_articles == articles|length : %}

                    <input class="main" type="submit" value="Forward >>> " onclick="move_to_page('{{ page_id + 1 }}')" />

            {% endif %}

        <BR>
    </div>
{% endif %}
{% include 'footer.html' %}
</body>
</html>