<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
{% include 'header_files.html' %}

  <title>Search by URL</title>
 </head>
<body onload="select_header('topnav_search_url'); ">
{% include 'header.html' %}
{% if not from_plugin: %}

    <div class="surrond_form">
        <!--suppress HtmlUnknownTarget -->
        <FORM id="mainForm" ACTION="/retrieve_similar_url" METHOD="POST" >
            <P>
        <label for="article_id">Article Id: </label><INPUT id="article_id" name="article_id" maxlength="64" size="10" value="{{article_id | default('')}}">

        </P>
        <P>
        <label for="search_url">Url in database: </label><INPUT class="textarea" id="search_url" name="search_url" maxlength="200"  value="{{search_url | default('')}}">

        </P>
        <P>
        <label for="n_articles">N articles: </label><input type="text" id="n_articles" name="n_articles" size="10" value="{{n_articles | default(25) }}"><br/></P>

        <p>
        <P>
        <label for="d_days">Date range in days</label><input type="text" id="d_days" name="d_days" size="10" value="{{d_days | default(3) }}"><br/></P>

        <p>
        <input id="page_id" name="page_id"  type="hidden" value="0"  />

        <input class="main" type="submit" value="Submit"  />

        <input class="main" type="submit" value="Random" onclick="random_url();"  />
        </p>
        </FORM>
    </div>

{% endif %}

{% if articles: %}

    <table border="1">
    <CAPTION>Similar articles</CAPTION>
    <tr>
        <th class="hide-1000">Article Id</th>
        <th><span>Title</span></th>

{% if session['signed_in'] %}
        <th class="columnscore">Admin</th>
{% endif %}
        <th>Prob</th>

        <th>Score</th>

        {%  if not from_plugin: %}
            <th class="icon"><span class="hide-1000">Similar</span></th>
            <th class="icon"><span class="hide-1000">Compare</span></th>
        {% endif %}
      </tr>

        {% for _ in articles: %}

            <tr>
                <td class="hide-1000"><!--suppress HtmlUnknownTarget, HtmlUnknownTarget -->
                    <A HREF="/statistics/{{_.article_id}}" target="_blank">{{_.article_id}}</A></td>
                <td><STRONG>{{_.source}}</STRONG><I> {{_.date}}</I>: <BR><!--suppress HtmlUnknownTarget -->
                    <A HREF="{{_.url}}"  target="_blank">{{_.title}}</A></td>
                {% if session['signed_in'] %}
                 <td class="columnscore">

                  <span id="samestory_{{article_id}}_{{_.article_id}}" >
                    {% if _.u_score >= 0: %}
                        {{_.u_score}}
                    {% else %}

                         <div class="buttonrow">
                            <button class="buttoncolumn btn-small green"  onclick="send_same_story('samestory_xhr','{{article_id}}', '{{_.article_id}}', 'samestory_{{article_id}}_{{_.article_id}}' );">Y
                            </button>
                            <button class="buttoncolumn btn-small yellow" onclick="send_same_story('related_xhr', '{{article_id}}', '{{_.article_id}}', 'samestory_{{article_id}}_{{_.article_id}}');">A
                            </button>

                            <button class="buttoncolumn btn-small red"  onclick="send_same_story('unrelated_xhr', '{{article_id}}', '{{_.article_id}}', 'samestory_{{article_id}}_{{_.article_id}}');">N

                            </button>
                         </div>

                    {% endif %}
                  </span>
                </td>
                {% endif %}
                <td>
                  {% if _.p_score  and _.p_score > 0: %}
                      {{'%0.3f'| format(_.p_score|float)}}
                  {% endif %}
                </td>
                {% if session['signed_in'] %}
                    <td>{{'%0.3f'| format(_.similarity[0]|float)}} , {{'%0.3f'| format(_.similarity[1]|float)}}  </td>
                {% else %}
                    <td>{{'%0.3f'| format(_.score_sums|float)}}</td>
                {% endif %}
                {%  if not from_plugin: %}

                    <td class="icon">
                        <A HREF="javascript:find_similar('{{_.article_id}}')" >
                            <IMG SRC="{{ url_for('static', filename='images/find_similar.png') }}" ALT="Find similar" TITLE="Find similar">
                        </A>
                    </td>

                    <td>
                        {% if _article_id != _.article_id: %}

                                            <A HREF="/compare/{{article_id}}/{{_.article_id}}" target="_blank">
                            <IMG SRC="{{ url_for('static', filename='images/compare_analyze.jpg') }}" ALT="Compare side-by-side" TITLE="Compare side-by-side">
                            </A>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>


        {% endfor %}
    </table>
{% endif %}
{% if articles: %}
<BR>

    <div class="buttonrow">
        {% if page_id and page_id > 0: %}
                <input class="main" type="submit" value="<<<" onclick="move_to_page('{{ page_id - 1 }}','mainForm')"/>
        {% endif %}
        <div class="buttoncolumn">
            {{page_id+1 | default(0) }}
         </div>
        {% if n_articles == articles|length : %}

            <input class="main" type="submit" value=">>>" onclick="move_to_page('{{ page_id + 1 }}','mainForm')" />

        {% endif %}


    </div>
{% endif %}
<BR>
{% if not from_plugin: %}
    {% if article: %}
    <div class="surrond_form">

             <div class="metadata">

                 <p><I>ID:</I> {{article.AIN_ID}}</p>
                 <p><I>URL:</I> <!--suppress HtmlUnknownTarget -->
                     <A HREF="{{article.AIN_URL}}" target="_blank">{{article.AIN_URL}}</A></p>
                 <P><I>Date:</I> {{article.AIN_DATE}}</P>
             </div>
             <div class="article_text">
                 <h3>{{article.AIN_TITLE}}</h3>
                 <p>{{article.ATX_TEXT | safe}}</p>
             </div>
        <BR>
    </div>
    <HR>
    {% endif %}
{% endif %}
{% include 'footer.html' %}

</body>
</html>