<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/topnav.css') }}?v=6"  >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}?v=51"  >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tables.css') }}?v=2"  >
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" />

    <script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js') }}?v=3"></script>

  <title>Find related news</title>
 </head>
<body onload="javascript:select_header('topnav_search_url')">
{% include 'header.html' %}
<div>
<FORM id="mainForm" ACTION="/retrieve_similar_url" METHOD="POST">
<P>
<label for="tdidf_input">Url in database: </label><INPUT id="tdidf_input" name="tdidf_input" maxlength="256" size="100" value="{{search_url}}">
</INPUT>
</P>
<P>
<label for="n_articles">N articles in page: </label><input type="text" id="n_articles" name="n_articles" value="50"><br/></P>

<p>
<input class="main" type="submit" value="Random" onclick="random_url();"  />
<input class="main" type="submit" value="Submit"  />
</p>
</FORM>
</div>

{% if tdf_articles: %}
<h2>Advice from TFIDF & BOW</h2>

<table border="1">

<tr>
    <th>Article Id</th>
    <th><span>Title</span></th>


    <th class="date"><span>Date</span></th>
    <th>TFIDF Score</th>
    <th>Authors</th>
    <th>Tags</th>
    <th class="icon">Similar</th>
    <th class="icon">Compare</th>
    <th class="icon">Statistics</th>
  </tr>

    {% for _ in tdf_articles: %}

        <tr>

            <td>{{_.id}}</td>
            <td><B>{{_.source}}: </B><A HREF="{{_.url}}">{{_.title}}</A></td>
            <td class="date">{{_.date_p}}</td>
            <td>{{_.similarity}}</td>
              <td>{% for author in _.authors: %}
                    <A HREF="{{author.url}}">{{author.name}}</A>&nbsp;
                {% endfor %}
            </td>
            <td>{% for tag in _.tags: %}
                    <A HREF="{{tag.url}}">{{tag.name}}</A>&nbsp;
                {% endfor %}
            </td>
            <td class="icon">
                <A HREF="javascript:find_similar('{{_.url}}')" target="_blank">
                    <IMG SRC="{{ url_for('static', filename='images/find_similar.png') }}" ALT="Find similar">
                </A>
            </td>
            <td class="icon">
                {% if article_id|string() != _.article_id|string() %}
                    <A HREF='/compare/{{article_id}}/{{_.article_id}}' target="_blank">
                        <IMG SRC="{{ url_for('static', filename='images/compare_analyze.jpg') }}" ALT="Compare and Analyze">
                    </A>
                {% endif %}
            </td>
            <td class="icon">
                <A HREF="/statistics/{{article_id}}" target="_blank">
                    <IMG SRC="{{ url_for('static', filename='images/statistics.png') }}" ALT="Statistics">
                </A>

            </td>
        </tr>


    {% endfor %}
</table>
{% endif %}
{% if doc2vec_articles: %}
<h2>Advice from DOC2VEC</h2>

<I>This will perform poorly for short texts</I>


<table border="1">
  <tr>
    <th>Article Id</th>
    <th><span>Title</span></th>
    <th class="date"><span>Date</span></th>
    <th>Doc2Vec Score</th>
    <th>Authors</th>
    <th>Tags</th>
     <th class="icon">Similar</th>
    <th class="icon">Compare</th>
      <th class="icon">Statistics</th>

  </tr>

    {% for _ in doc2vec_articles: %}
        <tr>

            <td>{{_.id}}</td>
            <td><B>{{_.source}}: </B><A HREF="{{_.url}}">{{_.title}}</A></td>
            <td class="date">{{_.date_p}}</td>
            <td>{{_.similarity}}</td>
            <td>{% for author in _.authors: %}
                    <A HREF="{{author.url}}">{{author.name}}</A>&nbsp;
                {% endfor %}
            </td>
            <td>{% for tag in _.tags: %}
                    <A HREF="{{tag.url}}">{{tag.name}}</A>&nbsp;
                {% endfor %}
            </td>
            <td class="icon">
                <A HREF="javascript:find_similar('{{_.url}}')" target="_blank">
                    <IMG SRC="{{ url_for('static', filename='images/find_similar.png') }}" ALT="Find similar">
                </A>
            </td>
            <td class="icon">
                {% if article_id != _.article_id %}
                    <A HREF="/compare/{{article_id}}/{{_.article_id}}')" target="_blank">
                        <IMG SRC="{{ url_for('static', filename='images/compare_analyze.jpg') }}" ALT="Compare and Analyze">
                    </A>
                {% endif %}
            </td>
            <td class="icon">
                <A HREF="/statistics/{{article_id}}" target="_blank">
                    <IMG SRC="{{ url_for('static', filename='images/statistics.png') }}" ALT="Statistics">
                </A>

            </td>
        </tr>
    {% endfor %}
</table>
{% endif %}


</body>
</html>