<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
{% include 'header_files.html' %}

  <title>Find related news</title>
 </head>
<body onload="javascript:select_header('topnav_statistics')">
{% include 'header.html' %}

{% for article in articles: %}
<div class="surrond_form">

         <div class="metadata">

             <p><I>ID:</I> {{article.AIN_ID}}</p>
             <p><I>URL:</I> <!--suppress HtmlUnknownTarget -->
                 <A HREF="{{article.AIN_URL}}">{{article.AIN_URL}}</A></p>
             <P><I>Date:</I> {{article.AIN_DATE}}</P>
         </div>
         <div class="article_text">
             <h3>{{article.AIN_TITLE}}</h3>
             <p>{{article.ATX_TEXT | safe}}</p>
         </div>
    <BR>
</div>
<BR>

{% endfor %}


{% include 'footer.html' %}
</body>
</html>