<!DOCTYPE html>
<html lang="en">
{% include 'header_files.html' %}
<head>

    <meta charset="UTF-8">
    <title>Controversial news</title>

</head>
<body onload="select_header('topnav_groups')">
{% include 'header.html' %}

{% include 'footer.html' %}
</body>

{% for article_group in article_groups %}

<HR>
<BR>
<A HREF="/show_all/{{article_group.article_list}}" target="_blank">Show all articles</A>
<BR>
<TABLE>

    <col width="8%">
    <col width="10%">
    <col width="57%">
    <col width="25%">


    <TR>



       <th>Date</th>
        <th>Source</th>
       <th><span>Article</span></th>
       <th><span>Compare</span></th>

    </tr>
    {% for article in article_group.articles %}
    <TR>

        <TD>{{article.date}}</TD>
        <TD>{{article.source}}</TD>
        <TD><A HREF="{{article.url}}">{{article.title}}</A></TD>

        <TD><span class="buttonrow">
        {% for other_id in article.other_ids %}

            <A class="buttoncolumn" HREF="/compare/{{article.article_id}}/{{other_id}}" target="_blank"><IMG SRC="{{ url_for('static', filename='images/compare_analyze.jpg') }}" ALT="Compare with {{other_id}} "></A>
        {% endfor %}

        </span>
    </TR>
    {% endfor %}
</TABLE>
{% endfor %}
<HR>
    <BR>
<div class="buttonrow">
        {% if page_id and page_id > 0: %}
            <form class="buttoncolumn" action="/show_groups/{{page_id-1}}">
                <input class="main" type="submit" value="<<< Back" />
            </form>
        {% endif %}
        {% if has_next : %}
            <form class="buttoncolumn" action="/show_groups/{{page_id+1}}">
                <input class="main" type="submit" value="Forward >>> " />
            </form>
        {% endif %}


</div>
 <div>
   Page : <B>{{page_id | default(0) }}</B>
    </div>
    <BR>


</html>