<!DOCTYPE html>
<html lang="en">
{% include 'header_files.html' %}
<head>

    <meta charset="UTF-8">
    <title>Controversial news</title>

</head>
<body onload="select_header('topnav_groups')">
{% include 'header.html' %}

{% include 'footer.html' %}
</body>

{% for article_group in article_groups %}

<HR>
<TABLE>
    <col width="17%">
    <col width="8%">
    <col width="8%">
    <col width="55%">
    <col width="12%">


    <TR>
       <th>SOURCE</th>
       <th>Id</th>

       <th>Date</th>
       <th><span>Article</span></th>
       <th><span>Compare</span></th>

    </tr>
    {% for article in article_group %}
    <TR>
        <TD>{{article.source}}</TD>
        <TD><A HREF="/statistics/{{article.article_id}}" target="_blank">{{article.article_id}}</A></TD>
        <TD>{{article.date}}</TD>
        <TD><A HREF="{{article.url}}">{{article.title}}</A></TD>
        <TD><span class="buttonrow"><A class="buttoncolumn" HREF="/compare/{{article.article_id}}/{{article.other_ids[0]}}" target="_blank"><IMG SRC="{{ url_for('static', filename='images/compare_analyze.jpg') }}" ALT="Compare with {{article.other_ids[0]}} "></A>
       {% if article.other_ids|length > 1 %} <A class="buttoncolumn" HREF="/compare/{{article.article_id}}/{{article.other_ids[1]}}" target="_blank"><IMG SRC="{{ url_for('static', filename='images/compare_analyze.jpg') }}" ALT="Compare with {{article.other_ids[1]}} "></A>  {% endif %}
        {% if article.other_ids|length > 2 %}<A class="buttoncolumn" HREF="/compare/{{article.article_id}}/{{article.other_ids[2]}}" target="_blank"><IMG SRC="{{ url_for('static', filename='images/compare_analyze.jpg') }}" ALT="Compare with {{article.other_ids[2]}}"></A>
 {% endif %}
        {% if article.other_ids|length > 3 %}<A class="buttoncolumn" HREF="/compare/{{article.article_id}}/{{article.other_ids[3]}}" target="_blank"><IMG SRC="{{ url_for('static', filename='images/compare_analyze.jpg') }}" ALT="Compare with {{article.other_ids[3]}}" ></A> </TD> {% endif %}
</span>

    </TR>
    {% endfor %}
</TABLE>
{% endfor %}
<HR>
    <BR>
<div class="buttonrow">
        {% if page_id and page_id > 0: %}
            <form class="buttoncolumn" action="/show_groups/{{page_id-1}}">
                <input class="main" type="submit" value="<<< Back" />
            </form>
        {% endif %}
        {% if has_next : %}
            <form class="buttoncolumn" action="/show_groups/{{page_id+1}}">
                <input class="main" type="submit" value="Forward >>> " />
            </form>
        {% endif %}


</div>
 <div>
   Page : <B>{{page_id | default(0) }}</B>
    </div>
    <BR>


</html>