<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
{% include 'header_files.html' %}

  <title>Find related news</title>
 </head>
<body onload="javascript:select_header('#statistics_gen')">
{% include 'header.html' %}

<FORM id="statistics_form" ACTION="/statistics_form" METHOD="POST">
<P>
<label for="article_id">Article_id</label><INPUT id="article_id" name="article_id"  maxlength="64" size="10" value="{{article_id}}">
</INPUT>
</P>
<P>
<label for="search_url">Url in database: </label><INPUT id="search_url" name="search_url" maxlength="200" size="70" value="{{search_url | default('')}}">
</INPUT>
</P>

</div>
    <P>

<input class="main" type="submit" value="Submit"  />
<input class="main" type="submit" value="Random" onclick="random_article_id();"  />

</p>
</FORM>
{% if article_id: %}


     <div>
        <h2>{{A.AIN_TITLE}}</h2>
         <p><I>ID:</I> {{A.AIN_ID}}</p>
        <p><I>URL:</I> <A HREF="{{A.AIN_URL}}">{{A.AIN_URL}}</A></p>
        <P><I>Date:</I> {{A.AIN_DATE}}</P>
          <p class="article_text">{{A.ATX_TEXT | safe}}</p>
     </div>
{% endif %}
{% if session['signed_in'] and article_id: %}


    <h2>Tokenization</h2>
    <P class="monospace">
        {% for token in tokens: %}
            {{token}} &nbsp; &nbsp;
        {% endfor %}
    </P>
    <h2>Bag of Words</h2>
    <TABLE>
      <tr>
        <th>Word</th>
        <th>Frequency</th>

      </tr>

        {% for word, freq in bows: %}
              <tr>
                <td>{{word}}</td>
                <td>{{freq}}</td>
              </tr>
        {% endfor %}
    </TABLE>
    <h2>Tfidf topics</h2>
    <TABLE>
      <tr>
        <th>Topic</th>
        <th>Relevancy</th>

      </tr>

        {% for topic, relevance in topics: %}
              <tr>
                <td>{{topic}}</td>
                <td>{{relevance}}</td>
              </tr>
        {% endfor %}
    </TABLE>

    <h2>Document Vector</h2>
    <TABLE>
      <tr>
        <th>Dimension</th>
        <th>Weight</th>

      </tr>

        {% for dimension, weight in docvecs: %}
              <tr>
                <td>{{dimension}}</td>
                <td>{{weight}}</td>
              </tr>
        {% endfor %}
    </TABLE>
{% endif %}


{% include 'footer.html' %}
</body>
</html>