<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/two_columns.css') }}?v=20"  >
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/topnav.css') }}?v=7"  >
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}?v=54"  >
 <script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js') }}?v=3"></script>
 <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" />

    <meta charset="UTF-8">

    <title>Articles to compare</title>

</head>
<body onload="select_header('topnav_compare'); ">

{% include 'header.html' %}
<H3>Are these two articles about the same story ????? </H3>
<div class="buttonrow">
<form id="samestory" action="">
    <button class="buttoncolumn btn-big green tooltip"  onclick="submit_story('samestory','{{A1.AIN_ID}}', '{{A2.AIN_ID}}' );">YES <span class="tooltiptext">Could these two articles have the same title?<BR>Is the main story of each article covered also in the other article?</span>
    </button>
    <button class="buttoncolumn btn-big yellow tooltip" onclick="submit_story('related', '{{A1.AIN_ID}}', '{{A2.AIN_ID}}');">ALMOST<span class="tooltiptext">Could the content of one of two articles be added seamlessly to the other article?<BR> Can you think of at least two common tags for these two articles?</span>
    </button>

    <button class="buttoncolumn btn-big red tooltip"  onclick="submit_story('unrelated', '{{A1.AIN_ID}}', '{{A2.AIN_ID}}');">NO<span class="tooltiptext">Does not satisfy the previous conditions.</span>
     <button class="buttoncolumn btn-big grey tooltip"  onclick="skip();">SKIP<span class="tooltiptext">I wouldn't know.</span>

    </button>
</div>
</div>
</form>
</div>
<div class="row">
  <div class="column left">
    <h2>{{A1.AIN_TITLE}}</h2>
    <p><I>ID:</I> {{A1.AIN_ID}}</p>

    <p><I>URL:</I> <A HREF="{{A1.AIN_URL}}">{{A1.AIN_URL}}</A></p>
    <P><I>Date:</I> {{A1.AIN_DATE}}</P>
    <P><I>Authors:</I>
       {% for author in A1.AUTHORS: %}
            <A HREF="{{author.url}}">{{author.name}}</A>&nbsp;
       {% endfor %}
    </P>
      <P><I>Tags:</I>
       {% for tag in A1.TAGS: %}
            <A HREF="{{tag.url}}">{{tag.name}}</A>&nbsp;
       {% endfor %}
    </P>
      <P></P>
      <P id="a1_text" class="article_text">{{A1.ATX_TEXT | safe}}</P>
  </div>
    <div class="column middle"></div>
  <div class="column right">
    <h2>{{A2.AIN_TITLE}}</h2>
      <p><I>ID:</I> {{A2.AIN_ID}}</p>

      <p><I>URL:</I> <A HREF="{{A2.AIN_URL}}">{{A2.AIN_URL}}</A></p>
      <P><I>Date:</I> {{A2.AIN_DATE}}</P>
      <P><I>Authors: </I>
       {% for author in A2.AUTHORS: %}
            <A HREF="{{author.url}}">{{author.name}}</A>&nbsp;
       {% endfor %}
    </P>
      <P><I>Tags:</I>
        {% for tag in A2.TAGS: %}
            <A HREF="{{tag.url}}">{{tag.name}}</A>&nbsp;
       {% endfor %}
    </P>
    <P></P>
    <P id="a2_text" class="article_text"> {{A2.ATX_TEXT | safe}}</P>

 </div>
</div>
<BR>
<BR>


</body>
</html>