<!DOCTYPE html>
<html lang="en">
<head>
{% include 'header_files.html' %}

    <meta charset="UTF-8">

    <title>Compare articles</title>

</head>
<body onload="select_header('topnav_compare'); ">

{% include 'header.html' %}
{% if session['signed_in']: %}

<P><STRONG>Are these two articles about the same story ????? </STRONG> <!--suppress HtmlUnknownTarget -->
    <A HREF="/examples" target="_blank">See examples</A></P>

<div class="buttonrow">
  <form id="samestory" action="">
    <button id="yes_button" class="buttoncolumn btn-big green tooltip"  onclick="submit_story('samestory','{{A1.AIN_ID}}', '{{A2.AIN_ID}}' );">YES <span class="tooltiptext">Could these two articles have the same title?<BR>Is the main story of each article covered also in the other article?</span>
    </button>
    <button id="almost_button" class="buttoncolumn btn-big yellow tooltip" onclick="submit_story('related', '{{A1.AIN_ID}}', '{{A2.AIN_ID}}');">ALMOST<span class="tooltiptext">Could the content of one of two articles be added seamlessly to the other article?<BR> Can you think of at least two common tags for these two articles?</span>
    </button>

      <button id="no_button" class="buttoncolumn btn-big red tooltip"  onclick="submit_story('unrelated', '{{A1.AIN_ID}}', '{{A2.AIN_ID}}');">NO<span class="tooltiptext">Does not satisfy the previous conditions.</span></button>
     <button class="buttoncolumn btn-medium grey tooltip"  onclick="skip();">SKIP<span class="tooltiptext">I wouldn't know.</span>

    </button>
 </form>
</div>
{% endif %}

<div class="row">
  <div class="column left">
    <div class="metadata">
        <p>Source: <STRONG>{{A1.SOURCE}}</STRONG></p>
        <p>ID: <!--suppress HtmlUnknownTarget, HtmlUnknownTarget -->
            <span>
                <A HREF="/statistics/{{A1.AIN_ID}}" target="_blank">{{A1.AIN_ID}}</A>
                <A HREF="/find_similar/{{A1.AIN_ID}}/2" target="_blank">
                    <IMG class="small-img-inline" SRC="{{ url_for('static', filename='images/find_similar.png') }}" TITLE="Find similar" ALT="Find similar" target="_blank">
                </A>

            </span>
        </p>
        <p>Go to <!--suppress HtmlUnknownTarget -->
            <A HREF="{{A1.AIN_URL}}">original url</A> </p>
        <P>Date: {{A1.AIN_DATE}}</P>
         <P></P>
    </div>
    <div class="article_text">
        <h3 id="title1_id">{{A1.AIN_TITLE}}</h3>
        <BR>
        <P id="a1_text" >{{A1.ATX_TEXT | safe}}</P>
    </div>
  </div>
    <div class="column middle"></div>
  <div class="column right">
    <div class="metadata">
       <p>Source: <STRONG>{{A2.SOURCE}}</STRONG></p>
      <p>ID: <!--suppress HtmlUnknownTarget, HtmlUnknownTarget -->
         <span>
              <A HREF="/statistics/{{A2.AIN_ID}}" target="_blank">{{A2.AIN_ID}}</A>
              <A HREF="/find_similar/{{A2.AIN_ID}}/2" target="_blank">
                    <IMG class="small-img-inline" SRC="{{ url_for('static', filename='images/find_similar.png') }}" TITLE="Find similar" ALT="Find similar" target="_blank">
              </A>
          </span>
      </p>
      <p>Go to <!--suppress HtmlUnknownTarget -->
          <A HREF="{{A2.AIN_URL}}">original url</A> </p>
      <P>Date: {{A2.AIN_DATE}}</P>
    </div>
    <div class="article_text">
      <h3 id="title2_id">{{A2.AIN_TITLE}}</h3>
      <BR>
      <P id="a2_text" > {{A2.ATX_TEXT | safe}}</P>
    </div>
 </div>
</div>
<BR>
<BR>

{% include 'footer.html' %}
</body>
</html>